* {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.header, .banner, .footer {
    background-color: #1f2937;
}

.header {
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header img {
    height: auto;
    width: 52px;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.banner > * {
    flex: 0 0 400px;
    padding: 80px 22px;
    /* padding: 65px 32px 90px 32px; */
}

.banner > .bannerimg {
    height: auto;
    width: 500px;
}


.banner h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    
}

.banner p {
    padding-bottom: 8px;
    margin: 10px 0px;
    font-size: 18px;
    color: #e5e7eb;
}

.info {
    text-align: center;
}


.info h2 {
    padding: 16px 12px;

}

.info > .deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.deck > * {
    flex-basis: 150px;;
    margin: 0px 24px 50px 24px;
}

.deck img {
    border-radius: 16px;
    height: 150px;
}

.testimony {
    padding: 30px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #92A8D1;
    width: 100%;
}

.testimony .quote {
    font-size: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 800px;
}

.testimony .author {
    align-self: flex-end;
}

.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 100px auto;
    background-color: rgb(0, 170, 255);
    color: white;
    border-radius: 10px;
}

.sign div {
    margin: 10px 32px;
}

.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}


a {
    color: #f9faf8;
    text-decoration: none;
    margin: 0px 10px;
}


button {
    background-color: rgb(46, 78, 220);
    text-align: center;
    color: #f9faf8;
    border-radius: 6px;
    border-style: none;
    height: 32px;
    width: 80px;
}